/* CUSTOM */
.radio-20{
    border-radius: 20px !important;
}

body{
    background: linear-gradient(45deg, #f3f3f3, #9f9f9f);
    height: 100vh;
}
.form-signin{
    width: 400px;
    margin: 0 auto;
    padding: 15px;
    background: #ebebeb;
    border-radius: 8px;
    border: 2px solid #227fc1;
    box-shadow: 1px 1px 10px 0px #227fc159;
}
#loadingEffect{
    margin: 0 auto;
    background-color: #227fc1;
    color: white;
    border-radius: 50%;
    padding: 17px 0px 0px 4px;
    height: 47px;
    width: 47px;
    font-size: 9px;
    animation-name: loadingEffect;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    transition: all 0.3s ease-in-out;
}
@keyframes loadingEffect{
    0% {transform: translateX(0px);}
    25% {transform: translateX(-135px); background-color: #015b9b;} 
    50% {transform: translateX(0px); background-color: #227fc1;}
    75% {transform: translateX(135px); background-color: #015b9b;}
    100% {transform: translateX(10px); background-color: #227fc1;}
}
.form-register{
    width: 400px;
    margin: 0 auto;
    padding: 15px;
    background: #ebebeb;
    border-radius: 8px;
    border: 2px solid#227fc1;
    box-shadow: 1px 1px 10px 0px #ff317459;
}
/* Inputs form */
input[type="text"],input[type="password"]{
    border: 1px solid #227fc1;
    border-radius: 3px;
}
.error{
    border: 1px solid #e71515;
}

button.primario{
    background-color: #227fc1 !important;
    border: 1px solid #227fc1 !important;
    color: white !important;
    border-radius: 20px !important;
}button.primario:hover, button.primario:active{
    background-color: #116bac !important;
    border: 1px solid #227fc1 !important;
}
a{
    color: #227fc1 !important;
}

/* home */
.card-publicacion{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f5f5f5;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
}